{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        <h2>Zadání testovacího úkolu přijímacího řízení Remante s.r.o.:</h2>
        <p>v rámci testovacího zadání bych po Vás chtěl, aby jste připravil jednoduchou stránku, která bude načítat data ze serveru <a href="autonorma.cz">autonorma.cz</a> (to jsou naše webovky). Nebudete mít přístup k databázi, ale data budete získávat pomocí HTML crawleru (jaký způsob použijete ji čistě na Vás).</p>
        <p>Stránka bude obsahovat možnost vybrat si jednu z kategorií (Vstřikovací čerpadla, Vysokotlaká čerpadla, Vstřikovače) a také výrobce (Bosh, Denso, Delphi, Zexel). Na základě této volby se na stránce zobrazí získaná data z <a href="autonorma.cz">autonorma.cz</a> a to ve forma, název produktu, jeho kód a cena. Limit pro výpis produktů je 20. Tyto data bude možné následně exportovat do .csv.</p>
        <p>Nezahlťe prosím náš server tunou požadavku. Zkuste si někde bokem stáhnout jednu HTML stránku a z té se snažte načítat informace až Vám to bude fungovat, můžete to zkusit napojit na reálné stránky <a href="autonorma.cz">autonorma.cz</a>.</p>
        <p>Odhadovaná doba je 20 hodin.</p>
        <a href="/products/viewproducts/no">Přejít na vypracování -></a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
