{% extends 'base.html.twig' %}

{% block title %}výpis produktů{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>  
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "pageLength": 20,
                "bFilter": true,
                "bLengthChange": false
            } );
            var table = $('#example').DataTable();
            $('#product_brand_select').click(function () {
                table.search( this.value ).draw();
            } );
            var data = table
                .rows()
                .data();
        
            document.getElementById("table_contents_stringified").value = JSON.stringify(data);
            document.getElementById("table_rows_count").value = data.length;
            } ); 


    </script>
{% endblock %}

{% block body %}
<h1>Výpis vybraných produktů</h1>
<a class="product_type_button" href="{{ path('view_products',{"product_type":"135-vstrikovaci-cerpadla"}) }}"> Vstřikovací čerpadla</a>
<a class="product_type_button" href="{{ path('view_products',{"product_type":"141-vysokotlaka-cerpadla"}) }}"> Vysokotlaká čerpadla</a>
<a class="product_type_button" href="{{ path('view_products',{"product_type":"158-vstrikovace"}) }}"> Vstřikovče</a>
 <select name="brand" id="product_brand_select">
  <option value="Bosch">Bosch</option>
  <option value="Denso">Denso</option>
  <option value="Delphi">Delphi</option>
  <option value="Zexel">Zexel</option>
</select>
<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Název produktu</th>
            <th>Kód</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products_formatted_and_filtered %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<form method="POST" action="/products/exportproductstocsv">
    <input type="hidden" id="table_contents_stringified" name="table_contents_stringified"></input>
    <input type="hidden" id="table_rows_count" name="table_rows_count" value="3"></input>
    <input type="submit" value="Export to .csv" />
</form>
{% endblock %}