.product_type_button{
    color:black;
    font-size: 1.1em;
    background-color:green;
    border: 1px solid black;
    padding:2px;
    border-radius: 1px;
    text-decoration:none;
}

.product_type_button:hover{
    background-color:darkgreen;
}

#product_brand_select{
    font-size:1.1em;
    margin-top: 20px;
}